* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.39));
    background-position: center;
    background-size: cover;

}


.container {
    margin: 10% auto;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}


.container form .user-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-detail .input-box {
    width: calc(100% /2 - 20px);
    margin-bottom: 15px;
}

.user-detail .input-box input , select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 3px;
    transition: all 0.5s ease;
}
select{
    font-size: 20px;
}
.user-detail .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;

}


.category {
    font-weight: 500;
    margin-bottom: 5px;
}


.btn {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
    align-items: center;
}

.gender {
    padding-left: 10px;

}

.male {
    margin-left: 5px;
    height: 15px;
    width: 15px;
}


form .button {
    height: 45px;
    margin: 40px 0;
    text-align: center;
}

form .button input {
    height: 100%;
    width: 80%;
    outline: none;
    background-color: var(--red);
    /*change it later*/
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;

}

form .button input:hover {
    background-color: var(--red);
    border-radius: 8px;

    transition: 1s;
}


@media(max-width:600px) {
    .container {
        max-width: 100%;
        margin-top: 100px;
    }

    form .user-detail .input-box {
        width: 100%;
        margin-bottom: 15px;
    }

    .btn {
        width: 100%;
    }

    .container form .user-detail {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-detail::-webkit-scrollbar {
        width: 0;
    }

    nav {
        font-size: 10px;
        /* background-color: chocolate; */
        position: absolute;
        right: 0;
        font-size: 10px;
    }


}

.new-user {
    font-size: 14px;
    font-weight: 500;
    padding-left: 70%;
    padding-top: 10PX;
}


.new-user a {
    text-decoration: none;
    color: var(--red);
    font-weight: 600;

}

.new-user a:hover {
    transition: 0.7s;
    color: var(--red);
    text-decoration: underline;
    text-underline-offset: 2px;
    
}
